/********************* COMMON **********************/
body {
	background-color: #222;
	color: white;
	font-family: sans-serif;
}

i,
li {
	cursor: pointer;
}
/********************* HEADER **********************/
/********************** MAIN ***********************/
/********************* FOOTER **********************/
